<div class="grid justify-items-center">
  
  <div class="container py-4">
    <h1 class="text-5xl font-bold text-center">Himnario Adventista</h1>

    <section class="py-10 my-10 flex justify-center justify-items-center">
      
      <div class="text-center w-1/2">
        <input type="text" placeholder="Buscar"
          class="px-7 py-2 rounded-full text-2xl w-full font-bold text-gray-800 border-4 border-blgray-400 focus:border-blue-500">
      </div>

    </section>


    <section class="flex flex-col gap-y-5">
      <div class="">
        <h2 class="font-bold text-lg">Más escuchados</h2>
        <ul class="flex gap-x-10">
          <li class="h-20 bg-purple-600 text-white rounded p-2 shadow">
            <div class="font-bold text-xl">
              001
            </div>
            <div>
              Engrandecido sea oh Dios    
            </div>
          </li>
        </ul>
      </div>

      <div class="">
        <h2 class="font-bold text-lg">Olvidados</h2>
        <ul class="flex gap-x-10">
          <li class="h-20 bg-gradient-to-r from-purple-600 via-pink-500 to-red-400 text-white rounded p-2 shadow">
            <div class="font-bold text-xl">
              001
            </div>
            <div>
              Engrandecido sea oh Dios    
            </div>
          </li>
        </ul>
      </div>
      
    </section>
  </div>
</div>
